<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- column -->
                <h4 class="card-tille">Striped Progress</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active" style="height:10px;"
                        [style.width]="getProgreso1"
                        role="progressbar"></div>
                </div>
                
                <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped active" style="height:10px;"
                    [style.width]="getProgreso2"
                        role="progressbar"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment [progreso]="progreso1" (value)="progreso1 = $event"></app-increment>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment [classes]="'btn btn-info'" [progreso]="progreso2" (value)="progreso2 = $event"></app-increment>
            </div>
        </div>
    </div>
</div>